body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    background-image: url("./image/Pokemon\ Wallpapers\ For\ Computer\ in\ hd\ Pokemon\ Wallpaper\ For\ Computer.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-size: 100%;
   

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
