
.info{
    background-color: rgba(255, 255, 255, 0.326);
    color: black;
    border-radius: 10px;
    font-family: cursive;
    height: 120px;
    padding: 5px;
    
   
 
}
.image{
    margin-top: 5px;
}

.name{
    color:rgb(71, 36, 65);
    
    
}
.tipos{
    color:rgb(201, 45, 175);
}
.cart{
    width: 200px;
    margin: 10px;
    height: 150px;
    margin-bottom: 10px;
}


