*{
    margin: 0px;
    /* text-decoration: none; */
}
.body{
    background-image: url("../image/Pokemon\ Wallpapers\ For\ Computer\ in\ hd\ Pokemon\ Wallpaper\ For\ Computer.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-size: 100%;
    
    
}

.pokemones{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 20px;
    background: rgba(204, 219, 34, 0.219);
    border: 2px rgb(7, 7, 7) solid;
    width: 200px;
    transition: all 400ms ease;
    margin: 5px;
    
   
    /* height:340px ; */

    margin: 10px;
    border-radius: 10px;
    
    margin-left: 10px;
    margin-top: 10px;
}
.pokemones:hover{
    transform: translateY(-4%);
}

.nav{
    background-color: black;
    color:rgb(204, 219, 34);
    display: flex;
    font-family: cursive;
    
    padding:0px;
    }
   
.filters{
    margin: auto;
}
.text{
    text-decoration: none;
    color: antiquewhite;
}
/* .body{
    background-image: url("../image/pokemon-1662790607801-2061.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-size: 100%;
   
} */
.link{
    text-decoration: none;
    color: antiquewhite;
    font: bold;
}
.refresh{
    display: flex;
    width: 100px;
    margin-left: 15px;
    margin-top: 15px;
    border: 2px yellow solid;
    background-color: white;
    align-content: flex-end;
    border-radius: 5px;
    cursor: pointer;
    transform: all;
}
.refresh:hover{
    background-color: yellow;
    width: 100px;
    height: 40px;
    margin-top: 10px;
}

.crear{
    margin: 12px;
    /* background-color: white; */
    color: black;
    font: bold;
    cursor: pointer;
    transition: all;
}
.crear:hover{
    background-color: rgb(20, 17, 17);
    border: 2px yellow solid;
}